
.transition {
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .gray {
    background-color:hsl(230, 22%, 74%);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 27px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  }
  
  input:focus + .slider {
    box-shadow: 0 0 3px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-24px);
    -ms-transform: translateX(-24px);
    transform: translateX(-24px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  