
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.facebook {
  background-color: hsl(208, 92%, 53%);
}

.twitter {
  background-color: hsl(203, 89%, 53%);
}

.instagram {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.youtube {
  background-color: hsl(348, 97%, 39%);
}
